external-sources=true
source-path=$VM2_REPOS/vm2.DevOps/scripts/bash
source-path=$VM2_REPOS/vm2.DevOps/scripts/bash/lib
source-path=$VM2_REPOS/vm2.DevOps/.github/scripts
enable=double-quote
enable=check-sourced
enable=add-default-case
enable=useless-use-of-cat
enable=quote-safe-variables
enable=require-double-brackets
enable=avoid-nullary-conditions
enable=check-unassigned-uppercase
disable=SC2119 # Use exit_if_has_errors "$@" if function's $1 should mean script's $1.
