name: Build .NET projects (Reusable)

on:
  workflow_call:
    inputs:
      os:
        description: JSON array of runners (cannot be null or empty string, default ubuntu-latest)
        type: string
        default: "ubuntu-latest"

      dotnet-version:
        description: Version of .NET SDK to use (cannot be null or empty string, default 10.0.x)
        type: string
        default: 10.0.x

      configuration:
        description: The type of build to produce, e.g. Release vs Debug (cannot be null or empty string, default Release)
        type: string
        default: Release

      preprocessor-symbols:
        description: Preprocessor symbols to pass to the compiler
        type: string
        default: ""

permissions:
  contents: read

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  build:
    name: Build on ${{ inputs.os }}
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v6
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
          cache: true
          cache-dependency-path: |
            **/packages.lock.json
            **/*.csproj

      - name: Make Scripts Executable
        run: chmod u+x ./scripts/bash/*.sh

      - name: Restore
        run: |
          dotnet restore --locked-mode

      - name: Build (${{ inputs.configuration }})
        run: |
          dotnet build \
            /p:DefineConstants="${{ inputs.preprocessor-symbols }}" \
            --configuration ${{ inputs.configuration }} \
            --no-restore
          {
            echo "Build:               ✔️ Successful"
            echo "Runner:              ${{ inputs.os }}"
            echo "Build configuration: ${{ inputs.configuration }}"
            echo "Defined symbols:     ${{ inputs.preprocessor-symbols || 'None' }}"
          } >> $GITHUB_STEP_SUMMARY

      - name: ShellCheck
        uses: ludeeus/action-shellcheck@master
        env:
          SHELLCHECK_OPTS: --external-sources --check-sourced
        with:
          scandir: ./scripts/bash
          check_together: true
          severity: warning
          format: tty
          ignore_names: self-test.sh
