name: Build .NET projects (Reusable workflow)

on:
  workflow_call:
    inputs:
      build-project:
        description: Path to the project to build (default the solution or the project in the current directory)
        type: string
        required: true

      os:
        description: JSON array of runners (default ubuntu-latest)
        type: string
        default: "ubuntu-latest"

      dotnet-version:
        description: Version of .NET SDK to use (default 10.0.x)
        type: string
        default: 10.0.x

      configuration:
        description: The type of build to produce, e.g. Release vs Debug (default Release)
        type: string
        default: Release

      preprocessor-symbols:
        description: Preprocessor symbols to pass to the compiler (default - none)
        type: string
        default: ""

# concurrency:
#   group: test-${{ github.workflow_ref }}-${{ inputs.test-project }}
#   cancel-in-progress: true
#   # NOTE: Only uncomment if this workflow is called directly (not via _ci.yaml)
#   # or if _ci.yaml runs build/test/benchmarks in parallel

permissions:
  contents: read

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  build:
    name: Build on ${{ inputs.os }}
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
          cache: true
          cache-dependency-path: |+
            **/packages.lock.json
            **/*.csproj

      - name: Restore dependencies
        shell: bash
        run: |+
          dotnet restore --locked-mode

      - name: Build (${{ inputs.configuration }})
        shell: bash
        run: |+
          dotnet build ${{ inputs.build-project }} \
            /p:DefineConstants="${{ inputs.preprocessor-symbols }}" \
            --configuration ${{ inputs.configuration }} \
            --no-restore
          {
            echo "Build:               ✔️ Successful"
            echo "Runner:              ${{ inputs.os }}"
            echo "Build configuration: ${{ inputs.configuration }}"
            echo "Defined symbols:     ${{ inputs.preprocessor-symbols || 'None' }}"
          } >> $GITHUB_STEP_SUMMARY

      - name: Cache the build artifacts
        uses: actions/cache/save@v4
        with:
          path: |
            **/bin/${{ inputs.configuration }}
            **/obj
            **/*.deps.json
            **/*.runtimeconfig.json
          key: build-artifacts-${{ runner.os }}-${{ github.sha }}-${{ inputs.configuration }}