name: _ci (Reusable workflow)

on:
  workflow_call:
    inputs:
      build-project:
        description: Path to the project to build, if null or empty the solution or the project in the current directory will be built
        type: string
        required: true

      test-project:
        description: Path to the test project to run tests against (cannot be null or empty string)
        type: string
        required: true

      benchmark-project:
        description: Path to the benchmark project. If not provided, null, or empty, benchmarks will be skipped.
        type: string
        required: false

      os:
        description: Runner OS-s (cannot be null or empty string, default ubuntu-latest)
        type: string
        default: ubuntu-latest

      dotnet-version:
        description: Version of .NET SDK to use (cannot be null or empty string, default 10.0.x)
        type: string
        default: 10.0.x

      configuration:
        description: The type of build to produce, e.g. Release vs Debug (cannot be null or empty string, default Release)
        type: string
        default: Release

      preprocessor-symbols:
        description: Define preprocessor symbols to pass to the compiler
        type: string
        default: ""

      min-coverage-pct:
        description: Minimum acceptable code coverage percentage (cannot be 0, null or empty, default 80)
        type: number
        default: 80 # percent

      run-benchmarks:
        description: Enable running the benchmarks and compare against baseline
        type: boolean
        default: true

      max-regression-pct:
        description: Maximum acceptable performance regression percentage
        type: number
        default: 10 # percent

      force-new-baseline:
        description: The benchmarks outputs become the new baseline (no regression check)
        type: boolean
        default: false

      verbose:
        description: Enable verbose logging by the scripts for debugging purposes
        type: boolean
        default: false

      cache-dependencies:
        description: Enable caching of NuGet dependencies (default true)
        type: boolean
        default: true

      cache-artifacts:
        description: Enable caching of build artifacts (default true)
        type: boolean
        default: true

concurrency:
  group: ci-${{ github.ref }}-${{ inputs.build-project }}-${{ inputs.test-project }}
  cancel-in-progress: true

jobs:
  setup:
    name: Parameters validation
    runs-on: ${{ inputs.os }}
    if: >
      ${{
      (github.event_name == 'push' &&
      !(contains(github.event.head_commit.message, '[skip ci]') ||
      contains(github.event.head_commit.message, '[ci]'))
      ) ||
      github.event_name == 'pull_request' ||
      github.event_name == 'workflow_dispatch'
      }}
    outputs:
      build-project:        ${{ steps.setup-vars.outputs.build-project }}
      test-project:         ${{ steps.setup-vars.outputs.test-project }}
      benchmark-project:    ${{ steps.setup-vars.outputs.benchmark-project }}
      os:                   ${{ steps.setup-vars.outputs.os }}
      dotnet-version:       ${{ steps.setup-vars.outputs.dotnet-version }}
      configuration:        ${{ steps.setup-vars.outputs.configuration }}
      preprocessor-symbols: ${{ steps.setup-vars.outputs.preprocessor-symbols }}
      min-coverage-pct:     ${{ steps.setup-vars.outputs.min-coverage-pct }}
      run-benchmarks:       ${{ steps.setup-vars.outputs.run-benchmarks }}
      max-regression-pct:   ${{ steps.setup-vars.outputs.max-regression-pct }}
      force-new-baseline:   ${{ steps.setup-vars.outputs.force-new-baseline }}
      verbose:              ${{ steps.setup-vars.outputs.verbose }}
      cache-dependencies:   ${{ inputs.cache-dependencies }}
      cache-artifacts:      ${{ inputs.cache-artifacts }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Make Scripts Executable
        run: chmod u+x ./scripts/bash/*.sh

      - id: setup-vars
        shell: bash
        env:
          BUILD_PROJECT:        ${{ inputs.build-project }}
          TEST_PROJECT:         ${{ inputs.test-project }}
          BENCHMARK_PROJECT:    ${{ inputs.benchmark-project }}
          OS:                   ${{ inputs.os }}
          DOTNET_VERSION:       ${{ inputs.dotnet-version }}
          CONFIGURATION:        ${{ inputs.configuration }}
          PREPROCESSOR_SYMBOLS: ${{ inputs.preprocessor-symbols }}
          MIN_COVERAGE_PCT:     ${{ inputs.min-coverage-pct }}
          RUN_BENCHMARKS:       ${{ inputs.run-benchmarks }}
          FORCE_NEW_BASELINE:   ${{ inputs.force-new-baseline }}
          MAX_REGRESSION_PCT:   ${{ inputs.max-regression-pct }}
          VERBOSE:              ${{ inputs.verbose }}
        run: ./scripts/bash/setup-ci-vars.sh

  build_job:
    name: Build
    needs:
      - setup
    uses: ./.github/workflows/_build.yaml
    with:
      build-project:        ${{ needs.setup.outputs.build-project }}
      os:                   ${{ needs.setup.outputs.os }}
      dotnet-version:       ${{ needs.setup.outputs.dotnet-version }}
      configuration:        ${{ needs.setup.outputs.configuration }}
      preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}
      cache-dependencies:   ${{ fromJSON(needs.setup.outputs.cache-dependencies) }}
      cache-artifacts:      ${{ fromJSON(needs.setup.outputs.cache-artifacts) }}

  test_job:
    name: Test
    needs:
      - setup
      - build_job
    uses: ./.github/workflows/_test.yaml
    with:
      test-project:         ${{ needs.setup.outputs.test-project }}
      os:                   ${{ needs.setup.outputs.os }}
      dotnet-version:       ${{ needs.setup.outputs.dotnet-version }}
      configuration:        ${{ needs.setup.outputs.configuration }}
      preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}
      min-coverage-pct:     ${{ fromJSON(needs.setup.outputs.min-coverage-pct) }}
      verbose:              ${{ fromJSON(needs.setup.outputs.verbose) }}
      cache-dependencies:   ${{ fromJSON(needs.setup.outputs.cache-dependencies) }}
      cache-artifacts:      ${{ fromJSON(needs.setup.outputs.cache-artifacts) }}

  benchmarks_job:
    name: Benchmarks
    if: ${{ fromJSON(needs.setup.outputs.run-benchmarks) && fromJSON(needs.setup.outputs.benchmark-project) }}
    needs:
      - setup
      - build_job
    #uses: ./.github/workflows/_benchmarks.yaml
    #with:
    #  os:                   ${{ needs.setup.outputs.os }}
    #  dotnet-version:       ${{ needs.setup.outputs.dotnet-version }}
    #  configuration:        ${{ needs.setup.outputs.configuration }}
    #  preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}
    #  benchmark-project:    ${{ needs.setup.outputs.benchmark-project }}
    #  max-regression-pct:   ${{ fromJSON(needs.setup.outputs.max-regression-pct) }}
    #  force-new-baseline:   ${{ fromJSON(needs.setup.outputs.force-new-baseline) }}
    #  verbose:              ${{ fromJSON(needs.setup.outputs.verbose) }}
    #  cache-dependencies:   ${{ fromJSON(needs.setup.outputs.cache-dependencies) }}
    #  cache-artifacts:      ${{ fromJSON(needs.setup.outputs.cache-artifacts) }}
    runs-on: ${{ inputs.os }}
    steps:
      - name: Print all inputs
        shell: bash
        run: |+
          {
            echo "inputs.os:                   ${{ needs.setup.outputs.os }}"
            echo "inputs.dotnet-version:       ${{ needs.setup.outputs.dotnet-version }}"
            echo "inputs.configuration:        ${{ needs.setup.outputs.configuration }}"
            echo "inputs.preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}"
            echo "inputs.benchmark-project:    ${{ needs.setup.outputs.benchmark-project }}"
            echo "inputs.max-regression-pct:   ${{ fromJSON(needs.setup.outputs.max-regression-pct) }}"
            echo "inputs.run-benchmarks:       ${{ fromJSON(needs.setup.outputs.run-benchmarks) }}"
            echo "inputs.force-new-baseline:   ${{ fromJSON(needs.setup.outputs.force-new-baseline) }}"
            echo "inputs.verbose:              ${{ fromJSON(needs.setup.outputs.verbose) }}"
            echo "inputs.cache-dependencies:   ${{ fromJSON(needs.setup.outputs.cache-dependencies) }}"
            echo "inputs.cache-artifacts:      ${{ fromJSON(needs.setup.outputs.cache-artifacts) }}"
          } >> $GITHUB_STEP_SUMMARY
