name: _ci (Reusable workflow)

on:
  workflow_call:
    inputs:
      os:
        description: JSON array of runner OS-s. Cannot be null or empty!
        type: string
        default: "[\u0022ubuntu-latest\u0022]"

      dotnet-version:
        description: Version of .NET SDK to use. Cannot be null or empty!.
        type: string
        default: 10.0.x

      configuration:
        description: The type of build to produce, e.g. Release vs Debug. Cannot be null or empty!
        type: string
        default: Release

      preprocessor-symbols:
        description: Define preprocessor symbols to pass to the compiler
        type: string
        default: "_"

      build-projects:
        description: JSON array as a string of paths to the projects or solutions to build. If not provided, null, or empty, the solution/project in the repository root will be built.
        type: string
        required: false

      test-projects:
        description: JSON array as a string of paths to the test projects to run. Must be provided and cannot be null or empty!
        type: string
        required: true

      benchmark-projects:
        description: JSON array as a string of paths to the benchmark projects to run. If not provided, null, or empty, benchmarks will be skipped.
        type: string
        required: false

      min-coverage-pct:
        description: Minimum acceptable code coverage percentage. Cannot be 0, null or empty!
        type: number
        default: 80 # percent

      max-regression-pct:
        description: Maximum acceptable performance regression percentage. Cannot be more than 50, null or empty!
        type: number
        default: 10 # percent

      force-new-baseline:
        description: The benchmarks outputs will become the new baseline (no regression check)
        type: boolean
        default: false

      cached-dependencies:
        description: Enable caching of NuGet dependencies.
        type: boolean
        default: true

      cached-artifacts:
        description: Enable caching of build artifacts.
        type: boolean
        default: true

      verbose:
        description: Enable verbose output from the invoked scripts.
        type: boolean
        default: false

    secrets:
      CODECOV_TOKEN:
        description: Codecov API token for uploading coverage reports
        required: true
      BENCHER_API_TOKEN:
        description: Bencher.dev API token for benchmark tracking
        required: true

env:
  # TODO: TO BE REMOVED! - this is only for debugging purposes
  ACTIONS_RUNNER_DEBUG: true
  ACTIONS_JOB_DEBUG: true
  ACTIONS_STEP_DEBUG: true

concurrency:
  group: ci-${{ github.workflow_ref }}
  cancel-in-progress: true

jobs:
  # Validate all input parameters and prepare them for downstream jobs
  setup:
    name: Parameters validation
    runs-on: ubuntu-latest
    outputs:
      build-projects: ${{ steps.setup.outputs.build-projects }}
      test-projects: ${{ steps.setup.outputs.test-projects }}
      benchmark-projects: ${{ steps.setup.outputs.benchmark-projects }}
      os: ${{ steps.setup.outputs.os }}
      dotnet-version: ${{ steps.setup.outputs.dotnet-version }}
      configuration: ${{ steps.setup.outputs.configuration }}
      preprocessor-symbols: ${{ steps.setup.outputs.preprocessor-symbols }}
      min-coverage-pct: ${{ steps.setup.outputs.min-coverage-pct }}
      max-regression-pct: ${{ steps.setup.outputs.max-regression-pct }}
      force-new-baseline: ${{ steps.setup.outputs.force-new-baseline }}
      verbose: ${{ steps.setup.outputs.verbose }}

    steps:
      # Clone the repository to access validation scripts
      - name: Checkout
        uses: actions/checkout@v6

      # Make bash scripts executable on Unix-like systems
      - name: Make Scripts Executable
        run: chmod u+x ./scripts/bash/*.sh

      - name: Run validation script to verify and normalize all input parameters
        id: setup
        shell: bash
        run: |
          ./scripts/bash/validate-vars.sh \
              --build-projects       '${{ inputs.build-projects }}' \
              --test-projects        '${{ inputs.test-projects }}' \
              --benchmark-projects   '${{ inputs.benchmark-projects }}' \
              --os                   '${{ inputs.os }}' \
              --dotnet-version       '${{ inputs.dotnet-version }}' \
              --configuration        '${{ inputs.configuration }}' \
              --preprocessor-symbols '${{ inputs.preprocessor-symbols }}' \
              --min-coverage-pct     '${{ inputs.min-coverage-pct }}' \
              --force-new-baseline   '${{ inputs.force-new-baseline }}' \
              --max-regression-pct   '${{ inputs.max-regression-pct }}' \
              $( [ ${{ inputs.verbose }} == true ] && echo '--verbose' || echo > /dev/null )
      # TO BE REMOVED WHEN ACTUALLY RUNNING THE ABOVE VALIDATION SCRIPT:
      # - name: "Print #1: Run validation script to verify and normalize all input parameters
      #   id: setup
      #   shell: bash
      #   run: |
      #     {
      #       echo "./scripts/bash/validate-vars.sh \\"
      #       echo "    --build-projects       '${{ inputs.build-projects }}' \\"
      #       echo "    --test-projects        '${{ inputs.test-projects }}' \\"
      #       echo "    --benchmark-projects   '${{ inputs.benchmark-projects }}' \\"
      #       echo "    --os                   '${{ matrix.os }}' \\"
      #       echo "    --dotnet-version       '${{ inputs.dotnet-version }}' \\"
      #       echo "    --configuration        '${{ inputs.configuration }}' \\"
      #       echo "    --preprocessor-symbols '${{ inputs.preprocessor-symbols }}' \\"
      #       echo "    --min-coverage-pct     '${{ inputs.min-coverage-pct }}' \\"
      #       echo "    --max-regression-pct   '${{ inputs.max-regression-pct }}' \\"
      #       echo "    --force-new-baseline   '${{ inputs.force-new-baseline }}' \\"
      #       echo $( [ ${{ inputs.verbose }} == true ] && echo '--verbose' || echo > /dev/null )"
      #     } >> $GITHUB_STEP_SUMMARY
      #     {
      #       echo "build-project=${{ inputs.build-projects }}"
      #       echo "test-project=${{ inputs.test-projects }}"
      #       echo "benchmark-project=${{ inputs.benchmark-projects }}"
      #       echo "os=${{ matrix.os }}"
      #       echo "dotnet-version=${{ inputs.dotnet-version }}"
      #       echo "configuration=${{ inputs.configuration }}"
      #       echo "preprocessor-symbols=${{ inputs.preprocessor-symbols }}"
      #       echo "min-coverage-pct=${{ inputs.min-coverage-pct }}"
      #       echo "max-regression-pct=${{ inputs.max-regression-pct }}"
      #       echo "force-new-baseline=${{ inputs.force-new-baseline }}"
      #       echo "verbose=${{ inputs.verbose }}"
      #     }  >> "${GITHUB_OUTPUT}

  # Build the project and cache artifacts for downstream test/benchmark jobs
  build:
    name: Build
    needs:
      - setup
    strategy:
      # fail-fast: true
      matrix:
        os: ${{ fromJSON(inputs.os) }}
        build-project: ${{ fromJSON(inputs.build-projects) }}
    uses: ./.github/workflows/_build.yaml
    with:
      os: ${{ matrix.os }}
      dotnet-version: ${{ needs.setup.outputs.dotnet-version }}
      configuration: ${{ needs.setup.outputs.configuration }}
      preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}
      build-project: ${{ matrix.build-project }}
      cached-dependencies: ${{ fromJSON(inputs.cached-dependencies) }}
      cached-artifacts: ${{ fromJSON(inputs.cached-artifacts) }}
    # TO BE REMOVED WHEN ACTUALLY RUNNING THE ABOVE BUILD WORKFLOW:
    # runs-on: ${{ matrix.os }}
    # steps:
    #   - name: "Print #2 Build"
    #     shell: bash
    #     run: |
    #       {
    #         echo "uses: ./.github/workflows/_build.yaml"
    #         echo "with:"
    #         echo "  os:                   ${{ matrix.os }}"
    #         echo "  dotnet-version:       ${{ needs.setup.outputs.dotnet-version }}"
    #         echo "  configuration:        ${{ needs.setup.outputs.configuration }}"
    #         echo "  preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}"
    #         echo "  build-project:        ${{ matrix.build-project }}"
    #         echo "  cached-dependencies:  ${{ inputs.cached-dependencies }}"
    #         echo "  cached-artifacts:     ${{ inputs.cached-artifacts }}"
    #       } >> $GITHUB_STEP_SUMMARY

  # Run unit tests with code coverage analysis
  test:
    name: Tests
    needs:
      - setup
      - build
    strategy:
      # fail-fast: true
      matrix:
        os: ${{ fromJSON(inputs.os) }}
        test-project: ${{ fromJSON(inputs.test-projects) }}
    uses: ./.github/workflows/_test.yaml
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    with:
      os: ${{ matrix.os }}
      dotnet-version: ${{ needs.setup.outputs.dotnet-version }}
      configuration: ${{ needs.setup.outputs.configuration }}
      preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}
      test-project: ${{ matrix.test-project }}
      min-coverage-pct: ${{ fromJSON(needs.setup.outputs.min-coverage-pct) }}
      cached-dependencies: ${{ fromJSON(inputs.cached-dependencies) }}
      cached-artifacts: ${{ fromJSON(inputs.cached-artifacts) }}
      verbose: ${{ fromJSON(needs.setup.outputs.verbose) }}
    # TO BE REMOVED WHEN ACTUALLY RUNNING THE ABOVE TEST WORKFLOW:
    # runs-on: ${{ matrix.os }}
    # steps:
    #   - name: Print \#3 Test
    #     shell: bash
    #     run: |
    #       {
    #         echo "uses: ./.github/workflows/_test.yaml"
    #         echo "with:"
    #         echo "  os:                   ${{ matrix.os }}"
    #         echo "  dotnet-version:       ${{ needs.setup.outputs.dotnet-version }}"
    #         echo "  configuration:        ${{ needs.setup.outputs.configuration }}"
    #         echo "  preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}"
    #         echo "  test-project:         ${{ matrix.test-project }}"
    #         echo "  min-coverage-pct:     ${{ fromJSON(needs.setup.outputs.min-coverage-pct) }}"
    #         echo "  cached-dependencies:  ${{ fromJSON(inputs.cached-dependencies) }}"
    #         echo "  cached-artifacts:     ${{ fromJSON(inputs.cached-artifacts) }}"
    #         echo "  verbose:              ${{ fromJSON(needs.setup.outputs.verbose) }}"
    #       } >> $GITHUB_STEP_SUMMARY

  # Run performance benchmarks and compare against baseline (if enabled and benchmark project specified)
  benchmarks:
    name: Benchmarks
    if: ${{ fromJSON(needs.setup.outputs.benchmark-projects) != '' }}
    needs:
      - setup
      - build
    strategy:
      # fail-fast: true
      matrix:
        os: ${{ fromJSON(inputs.os) }}
        benchmark-project: ${{ fromJSON(inputs.benchmark-projects) }}
    uses: ./.github/workflows/_benchmarks-bencher.yaml
    permissions:
      pull-requests: write # Required for Bencher to comment on PRs
      contents: read
    secrets:
      BENCHER_API_TOKEN: ${{ secrets.BENCHER_API_TOKEN }}
    with:
      os: ${{ matrix.os }}
      dotnet-version: ${{ needs.setup.outputs.dotnet-version }}
      configuration: ${{ needs.setup.outputs.configuration }}
      preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}
      benchmark-project: ${{ matrix.benchmark-project }}
      max-regression-pct: ${{ fromJSON(needs.setup.outputs.max-regression-pct) }}
      cached-dependencies: ${{ fromJSON(inputs.cached-dependencies) }}
      cached-artifacts: ${{ fromJSON(inputs.cached-artifacts) }}
      verbose: ${{ fromJSON(needs.setup.outputs.verbose) }}
    # TO BE REMOVED WHEN ACTUALLY RUNNING THE ABOVE TEST WORKFLOW:
    # Display all workflow inputs for debugging and verification
    # runs-on: ${{ matrix.os }}
    # steps:
    #   - name: "Print #4 Benchmark"
    #     shell: bash
    #     run: |
    #       {
    #         echo "uses: ./.github/workflows/_benchmarks.yaml"
    #         echo "with:"
    #         echo "  os:                   ${{ matrix.os }}"
    #         echo "  dotnet-version:       ${{ needs.setup.outputs.dotnet-version }}"
    #         echo "  configuration:        ${{ needs.setup.outputs.configuration }}"
    #         echo "  preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}"
    #         echo "  benchmark-project:    ${{ matrix.benchmark-project }}"
    #         echo "  max-regression-pct:   ${{ fromJSON(needs.setup.outputs.max-regression-pct) }}"
    #         echo "  force-new-baseline:   ${{ fromJSON(needs.setup.outputs.force-new-baseline) }}"
    #         echo "  cached-dependencies:  ${{ fromJSON(inputs.cached-dependencies) }}"
    #         echo "  cached-artifacts:     ${{ fromJSON(inputs.cached-artifacts) }}"
    #         echo "  verbose:              ${{ fromJSON(needs.setup.outputs.verbose) }}"
    #       } >> $GITHUB_STEP_SUMMARY
