name: _ci (Reusable workflow)

on:
  workflow_call:
    inputs:
      build-projects:
        description: Path to the projects to build (if null, empty, ow whitespace, builds the solution or the project in the current directory).
        type: string
        required: false

      test-projects:
        description: Path to the test projects to run (cannot be null or empty string)
        type: string
        required: true

      benchmark-projects:
        description: Path to the benchmark projects to run. If not provided, null, or empty, benchmarks will be skipped.
        type: string
        required: false

      os:
        description: Runner OS-s (cannot be null or empty string, default ubuntu-latest)
        type: string
        default: ubuntu-latest

      dotnet-version:
        description: Version of .NET SDK to use (cannot be null or empty string, default 10.0.x)
        type: string
        default: 10.0.x

      configuration:
        description: The type of build to produce, e.g. Release vs Debug (cannot be null or empty string, default Release)
        type: string
        default: Release

      preprocessor-symbols:
        description: Define preprocessor symbols to pass to the compiler
        type: string
        default: ""

      min-coverage-pct:
        description: Minimum acceptable code coverage percentage (cannot be 0, null or empty, default 80)
        type: number
        default: 80 # percent

      max-regression-pct:
        description: Maximum acceptable performance regression percentage
        type: number
        default: 10 # percent

      force-new-baseline:
        description: The benchmarks outputs become the new baseline (no regression check)
        type: boolean
        default: false

      cached-dependencies:
        description: Enable caching of NuGet dependencies (default true)
        type: boolean
        default: true

      cached-artifacts:
        description: Enable caching of build artifacts (default true)
        type: boolean
        default: true

      verbose:
        description: Enable verbose logging by the scripts for debugging purposes
        type: boolean
        default: false

concurrency:
  group: ci-${{ github.ref }}-${{ inputs.build-project }}-${{ inputs.test-project }}
  cancel-in-progress: true

jobs:

  # Validate all input parameters and prepare them for downstream jobs
  setup:
    name: Parameters validation
    runs-on: ${{ inputs.os }}
    outputs:
      build-projects:       ${{ steps.setup.outputs.build-projects }}
      test-projects:        ${{ steps.setup.outputs.test-projects }}
      benchmark-projects:   ${{ steps.setup.outputs.benchmark-projects }}
      os:                   ${{ steps.setup.outputs.os }}
      dotnet-version:       ${{ steps.setup.outputs.dotnet-version }}
      configuration:        ${{ steps.setup.outputs.configuration }}
      preprocessor-symbols: ${{ steps.setup.outputs.preprocessor-symbols }}
      min-coverage-pct:     ${{ steps.setup.outputs.min-coverage-pct }}
      max-regression-pct:   ${{ steps.setup.outputs.max-regression-pct }}
      force-new-baseline:   ${{ steps.setup.outputs.force-new-baseline }}
      verbose:              ${{ steps.setup.outputs.verbose }}
      cached-dependencies:  ${{ inputs.cached-dependencies }}
      cached-artifacts:     ${{ inputs.cached-artifacts }}

    steps:
      # Clone the repository to access validation scripts
      - name: Checkout
        uses: actions/checkout@v6

      # Make bash scripts executable on Unix-like systems
      - name: Make Scripts Executable
        run: chmod u+x ./scripts/bash/*.sh

      - name: Print \#1 instead of calling the script
        id: setup
        shell: bash
        run: |   # TO BE REMOVED WHEN ACTUALLY RUNNING THE VALIDATION SCRIPT
          {
            echo "./scripts/bash/setup-ci-vars.sh \"
            echo "    --build-project        ${{ inputs.build-project }} \"
            echo "    --test-project         ${{ inputs.test-project }} \"
            echo "    --benchmark-project    ${{ inputs.benchmark-project }} \"
            echo "    --os                   ${{ inputs.os }} \"
            echo "    --dotnet-version       ${{ inputs.dotnet-version }} \"
            echo "    --configuration        ${{ inputs.configuration }} \"
            echo "    --preprocessor-symbols ${{ inputs.preprocessor-symbols }} \"
            echo "    --min-coverage-pct     ${{ inputs.min-coverage-pct }} \"
            echo "    --max-regression-pct   ${{ inputs.max-regression-pct }} \"
            echo "    --force-new-baseline   ${{ inputs.force-new-baseline }} \"
            echo "    --verbose              ${{ inputs.verbose }}"
          } >> $GITHUB_STEP_SUMMARY
          {
            echo "build-project=${{ inputs.build-project }}"
            echo "test-project=${{ inputs.test-project }}"
            echo "benchmark-project=${{ inputs.benchmark-project }}"
            echo "os=${{ inputs.os }}"
            echo "dotnet-version=${{ inputs.dotnet-version }}"
            echo "configuration=${{ inputs.configuration }}"
            echo "preprocessor-symbols=${{ inputs.preprocessor-symbols }}"
            echo "min-coverage-pct=${{ inputs.min-coverage-pct }}"
            echo "max-regression-pct=${{ inputs.max-regression-pct }}"
            echo "force-new-baseline=${{ inputs.force-new-baseline }}"
            echo "verbose=${{ inputs.verbose }}"
          }  >> "${GITHUB_OUTPUT}"

      ## Run validation script to verify and normalize all input parameters
      #  run: |
      #     ./scripts/bash/setup-ci-vars.sh \
      #         --build-project        ${{ inputs.build-project }} \
      #         --test-project         ${{ inputs.test-project }} \
      #         --benchmark-project    ${{ inputs.benchmark-project }} \
      #         --os                   ${{ inputs.os }} \
      #         --dotnet-version       ${{ inputs.dotnet-version }} \
      #         --configuration        ${{ inputs.configuration }} \
      #         --preprocessor-symbols ${{ inputs.preprocessor-symbols }} \
      #         --min-coverage-pct     ${{ inputs.min-coverage-pct }} \
      #         --force-new-baseline   ${{ inputs.force-new-baseline }} \
      #         --max-regression-pct   ${{ inputs.max-regression-pct }} \
      #         --verbose              ${{ inputs.verbose }}

  # Build the project and cache artifacts for downstream test/benchmark jobs
  build:
    name: Build
    needs:
      - setup
    # uses: ./.github/workflows/_build.yaml
    # with:
    #   build-project:        ${{ needs.setup.outputs.build-project }}
    #   os:                   ${{ needs.setup.outputs.os }}
    #   dotnet-version:       ${{ needs.setup.outputs.dotnet-version }}
    #   configuration:        ${{ needs.setup.outputs.configuration }}
    #   preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}
    #   cached-dependencies:  ${{ fromJSON(needs.setup.outputs.cached-dependencies) }}
    #   cached-artifacts:     ${{ fromJSON(needs.setup.outputs.cached-artifacts) }}
    runs-on: ${{ inputs.os }}
    steps:                    # TO BE REMOVED WHEN ACTUALLY RUNNING THE BUILD WORKFLOW
      - name: Print \#2
        shell: bash
        run: |
          {
            echo "uses: ./.github/workflows/_build.yaml"
            echo "with:"
            echo "  build-project:        ${{ needs.setup.outputs.build-project }}"
            echo "  os:                   ${{ needs.setup.outputs.os }}"
            echo "  dotnet-version:       ${{ needs.setup.outputs.dotnet-version }}"
            echo "  configuration:        ${{ needs.setup.outputs.configuration }}"
            echo "  preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}"
            echo "  cached-dependencies:  ${{ needs.setup.outputs.cached-dependencies }}"
            echo "  cached-artifacts:     ${{ needs.setup.outputs.cached-artifacts }}"
          } >> $GITHUB_STEP_SUMMARY

  # Run unit tests with code coverage analysis
  test:
    name: Tests
    needs:
      - setup
      - build
    # uses: ./.github/workflows/_test.yaml
    # with:
    #   test-project:         ${{ needs.setup.outputs.test-project }}
    #   os:                   ${{ needs.setup.outputs.os }}
    #   dotnet-version:       ${{ needs.setup.outputs.dotnet-version }}
    #   configuration:        ${{ needs.setup.outputs.configuration }}
    #   preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}
    #   min-coverage-pct:     ${{ fromJSON(needs.setup.outputs.min-coverage-pct) }}
    #   verbose:              ${{ fromJSON(needs.setup.outputs.verbose) }}
    #   cached-dependencies:  ${{ fromJSON(needs.setup.outputs.cached-dependencies) }}
    #   cached-artifacts:     ${{ fromJSON(needs.setup.outputs.cached-artifacts) }}
    runs-on: ${{ inputs.os }}
    steps:                    # TO BE REMOVED WHEN ACTUALLY RUNNING THE TEST WORKFLOW
      - name: Print \#3
        shell: bash
        run: |
          {
            echo "uses: ./.github/workflows/_test.yaml"
            echo "with:"
            echo "  test-project:         ${{ needs.setup.outputs.test-project }}"
            echo "  os:                   ${{ needs.setup.outputs.os }}"
            echo "  dotnet-version:       ${{ needs.setup.outputs.dotnet-version }}"
            echo "  configuration:        ${{ needs.setup.outputs.configuration }}"
            echo "  preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}"
            echo "  min-coverage-pct:     ${{ fromJSON(needs.setup.outputs.min-coverage-pct) }}"
            echo "  verbose:              ${{ fromJSON(needs.setup.outputs.verbose) }}"
            echo "  cached-dependencies:  ${{ fromJSON(needs.setup.outputs.cached-dependencies) }}"
            echo "  cached-artifacts:     ${{ fromJSON(needs.setup.outputs.cached-artifacts) }}"
          } >> $GITHUB_STEP_SUMMARY

  # Run performance benchmarks and compare against baseline (if enabled and benchmark project specified)
  benchmarks:
    name: Benchmarks
    if: ${{ fromJSON(needs.setup.outputs.benchmark-project) != '' }}
    needs:
      - setup
      - build
    #uses: ./.github/workflows/_benchmarks.yaml
    #with:
    #  os:                   ${{ needs.setup.outputs.os }}
    #  dotnet-version:       ${{ needs.setup.outputs.dotnet-version }}
    #  configuration:        ${{ needs.setup.outputs.configuration }}
    #  preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}
    #  benchmark-project:    ${{ needs.setup.outputs.benchmark-project }}
    #  max-regression-pct:   ${{ fromJSON(needs.setup.outputs.max-regression-pct) }}
    #  force-new-baseline:   ${{ fromJSON(needs.setup.outputs.force-new-baseline) }}
    #  verbose:              ${{ fromJSON(needs.setup.outputs.verbose) }}
    #  cached-dependencies:  ${{ fromJSON(needs.setup.outputs.cached-dependencies) }}
    #  cached-artifacts:     ${{ fromJSON(needs.setup.outputs.cached-artifacts) }}
    runs-on: ${{ inputs.os }}
    steps:                    # TO BE REMOVED WHEN ACTUALLY RUNNING THE BENCHMARK WORKFLOW
      # Display all workflow inputs for debugging and verification
      - name: Print all inputs
        shell: bash
        run: |
          {
            echo "uses: ./.github/workflows/_benchmarks.yaml"
            echo "with:"
            echo "  benchmark-project:    ${{ needs.setup.outputs.benchmark-project }}"
            echo "  os:                   ${{ needs.setup.outputs.os }}"
            echo "  dotnet-version:       ${{ needs.setup.outputs.dotnet-version }}"
            echo "  configuration:        ${{ needs.setup.outputs.configuration }}"
            echo "  preprocessor-symbols: ${{ needs.setup.outputs.preprocessor-symbols }}"
            echo "  max-regression-pct:   ${{ fromJSON(needs.setup.outputs.max-regression-pct) }}"
            echo "  force-new-baseline:   ${{ fromJSON(needs.setup.outputs.force-new-baseline) }}"
            echo "  verbose:              ${{ fromJSON(needs.setup.outputs.verbose) }}"
            echo "  cached-dependencies:  ${{ fromJSON(needs.setup.outputs.cached-dependencies) }}"
            echo "  cached-artifacts:     ${{ fromJSON(needs.setup.outputs.cached-artifacts) }}"
          } >> $GITHUB_STEP_SUMMARY
