name: Test .NET projects (Reusable workflow)

on:
  workflow_call:
    inputs:
      os:
        description: Runner OS-s (cannot be null or empty string, default ubuntu-latest)
        type: string
        default: ubuntu-latest

      dotnet-version:
        description: Version of .NET SDK to use (cannot be null or empty string, default 10.0.x)
        type: string
        default: 10.0.x

      configuration:
        description: The type of build to produce, e.g. Release vs Debug (cannot be null or empty string, default Release)
        type: string
        default: Release

      preprocessor-symbols:
        description: Define constants to pass to the compiler
        type: string
        default: ""

      test-project:
        description: Path to the test project to run tests against (cannot be null or empty string)
        type: string
        required: true

      min-coverage-pct:
        description: Minimum acceptable code coverage percentage (cannot be 0, null or empty, default 80)
        type: number
        default: 80 # percent

      verbose:
        description: Whether to enable verbose logging
        type: boolean
        default: false

# concurrency:
#   group: test-${{ github.workflow_ref }}-${{ inputs.test-project }}
#   cancel-in-progress: true
#   # NOTE: Only uncomment if this workflow is called directly (not via _ci.yaml)
#   # or if _ci.yaml runs build/test/benchmarks in parallel

permissions:
  contents: read # to checkout the code

env:
  # this must be the same across all jobs and steps below.
  # We must know where to find the artifacts and where to download/upload to/from across all jobs and steps here.
  ARTIFACTS_DIR: "TestArtifacts"
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  test:
    name: Test on ${{ inputs.os }}
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
          cache: true
          cache-dependency-path: |+
            **/packages.lock.json
            **/*.csproj

      - name: Restore build artifacts from cache
        uses: actions/cache/restore@v4
        with:
          path: |
            **/bin/${{ inputs.configuration }}
            **/obj
          key: build-artifacts-${{ runner.os }}-${{ github.sha }}-${{ inputs.configuration }}
          fail-on-cache-miss: true

      - name: Make Scripts Executable
        shell: bash
        run: |
          chmod u+x ./scripts/bash/*.sh

      - name: Run script for unit test with coverage
        env:
          CONFIGURATION:        ${{ inputs.configuration }}
          PREPROCESSOR_SYMBOLS: ${{ inputs.preprocessor-symbols }}
          VERBOSE:              ${{ fromJSON(inputs.verbose) }}
        shell: bash
        run: >+
          ./scripts/bash/run-tests.sh ${{ inputs.test-project }}
          --min-coverage-pct "${{ inputs.min-coverage-pct }}"
          --configuration "${{ inputs.configuration }}"
          --artifacts "${{ env.ARTIFACTS_DIR }}"

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ inputs.os }}
          path: ${{ env.ARTIFACTS_DIR }}
          if-no-files-found: error
          overwrite: true
