name: CI - Build, Test, Benchmarks

on:
  push:
    branches:
      - "**"
      # trigger on push for all branches

  pull_request:
    branches:
      - "**"
      # trigger on PR for all branches

  workflow_dispatch:
    inputs:
      os:
        description: Runner OS (cannot be null, empty, or whitespace; default 'ubuntu-latest')
        type: string
        default: ubuntu-latest

      dotnet-version:
        description: Version of .NET SDK to use (cannot be null, empty, or whitespace; default '10.0.x')
        type: string
        default: 10.0.x

      configuration:
        description: The type of build to produce, e.g. Release vs Debug (cannot be null, empty, or whitespace; default 'Release')
        type: string
        default: Release

      preprocessor-symbols:
        description: Define constants to pass to the compiler
        type: string
        default: ""

      run-benchmarks:
        description: Whether to run benchmarks and compare against baseline
        type: boolean
        default: true

      force-new-baseline:
        description: Whether to force new baseline (if true, no regression check is done)
        type: boolean
        default: false

      # verbose:
      #   description: Enable verbose logging by the scripts for debugging purposes
      #   type: boolean
      #   default: false

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

env:
  ACTIONS_RUNNER_DEBUG: true
  ACTIONS_STEP_DEBUG: true

jobs:
  call_ci:
    name: Call the CI Workflow
    uses: ./_ci.yaml
    with:
      test-project:         ./test/Glob.Api.Tests/Glob.Api.Tests.csproj
      benchmark-project:    ./benchmarks/Glob.Api.Benchmarks/Glob.Api.Benchmarks.csproj
      os:                   ${{ inputs.os }}
      dotnet-version:       ${{ inputs.dotnet-version }}
      configuration:        ${{ inputs.configuration }}
      preprocessor-symbols: ${{ inputs.preprocessor-symbols }}
      min-coverage-pct:     ${{ vars.MIN_COVERAGE_PCT   || 75 }}
      run-benchmarks:       ${{ inputs.run-benchmarks }}
      max-regression-pct:   ${{ vars.MAX_REGRESSION_PCT || 10 }}
      force-new-baseline:   ${{ inputs.force-new-baseline }}
      # verbose:              ${{ inputs.verbose }}
#   runs-on: ${{ inputs.os }}
#   steps:
#     - name: Print all inputs
#       run: |+
#         {
#           echo "inputs.os:                   ${{ inputs.os }}"
#           echo "inputs.dotnet-version:       ${{ inputs.dotnet-version }}"
#           echo "inputs.configuration:        ${{ inputs.configuration }}"
#           echo "inputs.preprocessor-symbols: ${{ inputs.preprocessor-symbols }}"
#           echo "inputs.run-benchmarks:       ${{ inputs.run-benchmarks }}"
#           echo "inputs.force-new-baseline:   ${{ inputs.force-new-baseline }}"
##          echo "inputs.verbose:              ${{ inputs.verbose }}"
#           echo "vars.MIN_COVERAGE_PCT:       ${{ vars.MIN_COVERAGE_PCT || 75 }}"
#           echo "vars.MAX_REGRESSION_PCT:     ${{ vars.MAX_REGRESSION_PCT || 10 }}"
#           echo "test-project:                ./test/Glob.Api.Tests/Glob.Api.Tests.csproj"
#           echo "benchmark-project:           ./benchmarks/Glob.Api.Benchmarks/Glob.Api.Benchmarks.csproj"
#         } >> $GITHUB_STEP_SUMMARY
