name: Glob.Api.CI - Build, Test, Benchmarks

on:
  push:
    branches:
      - "**" # trigger on push for all branches

  pull_request:
    branches:
      - "**" # trigger on PR for all branches

  workflow_dispatch:
    inputs:
      os:
        description: Runner OS (the value must be a valid string representation of a JSON array of strings)
        type: string
        default: '["ubuntu-latest"]'

      dotnet-version:
        description: Version of .NET SDK to use (cannot be null, empty, or whitespace)
        type: string
        default: 10.0.x

      preprocessor-symbols:
        description: Define constants to pass to the compiler
        type: string
        default: ""

      cached-dependencies:
        description: Enable storing and retrieving NuGet dependencies to/from cache (default true)
        type: boolean
        default: true

      cached-artifacts:
        description: Enable storing and retrieving build artifacts to/from cache (default true)
        type: boolean
        default: true

      verbose:
        description: Enable verbose logging by the scripts for debugging purposes
        type: boolean
        default: false

env:
  ACTIONS_RUNNER_DEBUG: true
  ACTIONS_STEP_DEBUG: true

jobs:
  call_ci:
    name: Call the CI Workflow
    strategy:
      matrix:
        os: ${{ fromJSON(inputs.os || '["ubuntu-latest"]') }}
        build-project:
          - "" # build the whole solution once
        test-project:
          - ./test/Glob.Api.FakeFileSystem.Tests/Glob.Api.FakeFileSystem.Tests.csproj
          - ./test/Glob.Api.Tests/Glob.Api.Tests.csproj
        benchmark-project:
          - ./benchmarks/Glob.Api.Benchmarks/Glob.Api.Benchmarks.csproj

    uses: ./.github/workflows/_ci.yaml
    with:
      build-project:        ${{ matrix.build-project || '' }}
      test-project:         ${{ matrix.test-project }}
      benchmark-project:    ${{ matrix.benchmark-project }}
      os:                   ${{ fromJSON(inputs.os)         || matrix.os            || '["ubuntu-latest"]' }}
      dotnet-version:       ${{ vars.DOTNET_VERSION         || '10.0.x' }}
      configuration:        ${{ vars.CONFIGURATION          || 'Release' }}
      preprocessor-symbols: ${{ inputs.preprocessor-symbols || '' }}
      min-coverage-pct:     ${{ vars.MIN_COVERAGE_PCT       || 80 }}
      max-regression-pct:   ${{ vars.MAX_REGRESSION_PCT     || 10 }}
      force-new-baseline:   ${{ vars.FORCE_NEW_BASELINE     == false }}
      cached-dependencies:  ${{ inputs.cached-dependencies  != false }}
      cached-artifacts:     ${{ inputs.cached-artifacts     != false }}
      verbose:              ${{ inputs.verbose              == true }}
