name: Glob.Api.CI - Build, Test, Benchmarks

on:
  push:
    branches:
      - "**" # trigger on push for all branches

  pull_request:
    branches:
      - "**" # trigger on PR for all branches

  workflow_dispatch:
    inputs:
      dotnet-version:
        description: Version of .NET SDK to use (cannot be null, empty, or whitespace)
        type: string
        default: 10.0.x

      preprocessor-symbols:
        description: Define constants to pass to the compiler
        type: string
        default: ""

      cached-dependencies:
        description: Enable storing and retrieving NuGet dependencies to/from cache (default true)
        type: boolean
        default: true

      cached-artifacts:
        description: Enable storing and retrieving build artifacts to/from cache (default true)
        type: boolean
        default: true

      verbose:
        description: Enable verbose logging by the scripts for debugging purposes
        type: boolean
        default: false

env:
  # TODO: TO BE REMOVED! - this is only for debugging purposes
  ACTIONS_RUNNER_DEBUG: true
  ACTIONS_JOB_DEBUG: true
  ACTIONS_STEP_DEBUG: true

jobs:
  call_ci:
    name: Call the CI Workflow
    if: >
      ${{
      github.event_name == 'pull_request' ||
      github.event_name == 'workflow_dispatch' ||
      github.event_name == 'push' && !contains(github.event.head_commit.message, '[skip ci]')
      }}
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
        build-project:
          - "" # build the whole solution once
        test-project:
          - ./test/Glob.Api.FakeFileSystem.Tests/Glob.Api.FakeFileSystem.Tests.csproj
          - ./test/Glob.Api.Tests/Glob.Api.Tests.csproj
        benchmark-project:
          - ./benchmarks/Glob.Api.Benchmarks/Glob.Api.Benchmarks.csproj
    # uses: ./.github/workflows/_ci.yaml
    # with:
    #   build-project:        ${{ matrix.build-project }}
    #   test-project:         ${{ matrix.test-project }}
    #   benchmark-project:    ${{ matrix.benchmark-project }}
    #   os:                   ${{ matrix.os }}
    #   dotnet-version:       ${{ vars.DOTNET_VERSION         || '10.0.x' }}
    #   configuration:        ${{ vars.CONFIGURATION          || 'Release' }}
    #   preprocessor-symbols: ${{ inputs.preprocessor-symbols || '' }}
    #   min-coverage-pct:     ${{ vars.MIN_COVERAGE_PCT       || 80 }}
    #   max-regression-pct:   ${{ vars.MAX_REGRESSION_PCT     || 10 }}
    #   force-new-baseline:   ${{ (vars.FORCE_NEW_BASELINE    || false) == true  }}
    #   cached-dependencies:  ${{ (inputs.cached-dependencies || true)  != false }}
    #   cached-artifacts:     ${{ (inputs.cached-artifacts    || true)  != false }}
    #   verbose:              ${{ (inputs.verbose             || false) == true  }}
    # TO BE REMOVED WHEN ACTUALLY RUNNING THE BUILD WORKFLOW:
    runs-on: ${{ matrix.os }}
    steps:
      - name: Print \0
        shell: bash
        run: |+
          {
            echo "uses ./.github/workflows/_ci.yaml"
            echo "with"
            echo "  build-project:        ${{ matrix.build-project }}"
            echo "  test-project:         ${{ matrix.test-project }}"
            echo "  benchmark-project:    ${{ matrix.benchmark-project }}"
            echo "  os:                   ${{ matrix.os }}"
            echo "  dotnet-version:       ${{ vars.DOTNET_VERSION         || '10.0.x' }}"
            echo "  configuration:        ${{ vars.CONFIGURATION          || 'Release' }}"
            echo "  preprocessor-symbols: ${{ inputs.preprocessor-symbols || '' }}"
            echo "  min-coverage-pct:     ${{ vars.MIN_COVERAGE_PCT       || 80 }}"
            echo "  max-regression-pct:   ${{ vars.MAX_REGRESSION_PCT     || 10 }}"
            echo "  force-new-baseline:   ${{ vars.FORCE_NEW_BASELINE     != false }}"
            echo "  cached-dependencies:  ${{ inputs.cached-dependencies  != false }}"
            echo "  cached-artifacts:     ${{ inputs.cached-artifacts     != false }}"
            echo "  verbose:              ${{ inputs.verbose              == true }}"
          } >> $GITHUB_STEP_SUMMARY
