name: Glob.Api.CI - Build, Test, Benchmarks

on:
  push:
    branches:
      - "**"
      # trigger on push for all branches

  pull_request:
    branches:
      - "**"
      # trigger on PR for all branches

  workflow_dispatch:
    inputs:
      os:
        description: Runner OS (must be a JSON array of strings; default '["ubuntu-latest"]')
        type: string
        default: '["ubuntu-latest"]'

      dotnet-version:
        description: Version of .NET SDK to use (cannot be null, empty, or whitespace; default '10.0.x')
        type: string
        default: 10.0.x

      configuration:
        description: The type of build to produce, e.g. Release vs Debug (cannot be null, empty, or whitespace; default 'Release')
        type: string
        default: Release

      preprocessor-symbols:
        description: Define constants to pass to the compiler
        type: string
        default: ""

      force-new-baseline:
        description: Whether to force new baseline (if true, no regression check is done)
        type: boolean
        default: false

      cached-dependencies:
        description: Enable storing and retrieving NuGet dependencies to/from cache (default true)
        type: boolean
        default: true

      cached-artifacts:
        description: Enable storing and retrieving build artifacts to/from cache (default true)
        type: boolean
        default: true

      verbose:
        description: Enable verbose logging by the scripts for debugging purposes
        type: boolean
        default: false

env:
  ACTIONS_RUNNER_DEBUG: true
  ACTIONS_STEP_DEBUG: true

jobs:
  call_ci:
    name: Call the CI Workflow
    strategy:
      matrix:
        os: ${{ fromJSON(inputs.os || '["ubuntu-latest"]') }}
        build-project:
          - ./src/Glob.Api/Glob.Api.csproj
          - ./test/Glob.Api.FakeFileSystem.Tests/Glob.Api.FakeFileSystem.Tests.csproj
          - ./test/Glob.Api.Tests/Glob.Api.Tests.csproj
          - ./benchmarks/Glob.Api.Benchmarks/Glob.Api.Benchmarks.csproj
        test-project:
          - ./test/Glob.Api.FakeFileSystem.Tests/Glob.Api.FakeFileSystem.Tests.csproj
          - ./test/Glob.Api.Tests/Glob.Api.Tests.csproj
        benchmark-project:
          - ./benchmarks/Glob.Api.Benchmarks/Glob.Api.Benchmarks.csproj

    uses: ./.github/workflows/_ci.yaml
    with:
      build-project:        ${{ matrix.build-project }}
      test-project:         ${{ matrix.test-project }}
      benchmark-project:    ${{ matrix.benchmark-project }}
      os:                   ${{ matrix.os }}
      dotnet-version:       ${{ inputs.dotnet-version       || '10.0.x' }}
      configuration:        ${{ inputs.configuration        || 'Release' }}
      preprocessor-symbols: ${{ inputs.preprocessor-symbols || '' }}
      min-coverage-pct:     ${{ vars.min_coverage_pct       || 75 }}
      max-regression-pct:   ${{ vars.max_regression_pct     || 10 }}
      force-new-baseline:   ${{ inputs.force-new-baseline   == true }}
      verbose:              ${{ inputs.verbose              == true }}
      cached-dependencies:  ${{ inputs.cached-dependencies  != false }}
      cached-artifacts:     ${{ inputs.cached-artifacts     != false }}
