name: Glob.Api.CI - Build, Test, Benchmarks

on:
  push:
    branches:
      - "**" # trigger on push for all branches

  pull_request:
    branches:
      - "**" # trigger on PR for all branches

  workflow_dispatch:
    inputs:
      os:
        description: Select the OS(es) on which to build and run. Must be a valid JSON array of strings.
        type: string
        default: '["ubuntu-latest"]'

      preprocessor-symbols:
        description: Define constants to pass to the compiler
        type: string
        default: ""

      cached-dependencies:
        description: Enable storing and retrieving NuGet dependencies to/from cache (default true)
        type: boolean
        default: true

      cached-artifacts:
        description: Enable storing and retrieving build artifacts to/from cache (default true)
        type: boolean
        default: true

      verbose:
        description: Enable verbose logging by the scripts for debugging purposes
        type: boolean
        default: false

env:
  # TODO: TO BE REMOVED! - this is only for debugging purposes
  ACTIONS_RUNNER_DEBUG: true
  ACTIONS_JOB_DEBUG: true
  ACTIONS_STEP_DEBUG: true

jobs:
  get-params:
    name: Prepare the default and passed in parameters
    runs-on: "ubuntu-latest" # here it doesn't matter - we're preparing the inputs for the next workload'
    if: >
      ${{
      github.event_name == 'pull_request' ||
      github.event_name == 'workflow_dispatch' ||
      github.event_name == 'push' && !contains(github.event.head_commit.message, '[skip ci]')
      }}
    steps:
      - name: Gather parameters
        id: init-params
        shell: bash
        run: |
          # the following outputs are invariant - no matter how we trigger the workflow, they stay the same:
            # build the whole solution at once:
          build_projects='[ "./vm2.DevOps.slnx" ]'
            # test projects to run:
          test_projects=" [ \
              \"./test/Glob.Api.FakeFileSystem.Tests/Glob.Api.FakeFileSystem.Tests.csproj\", \
              \"./test/Glob.Api.Tests/Glob.Api.Tests.csproj\" ]"
            # benchmark projects to run:
          benchmark_projects='["./benchmarks/Glob.Api.Benchmarks/Glob.Api.Benchmarks.csproj"]'

          # the following outputs are invariant - no matter how we trigger the workflow, they are externally set variables:
          dotnet_version=${{ vars.DOTNET_VERSION }}
          configuration=${{ vars.CONFIGURATION }}
          min_coverage_pct=${{ vars.MIN_COVERAGE_PCT }}
          max_regression_pct=${{ vars.MAX_REGRESSION_PCT }}
          force_new_baseline=${{ vars.FORCE_NEW_BASELINE }}

          # the following outputs are the default values for push and pull_request events
          if [ "${{ github.event_name }}" == "push" ] || \
             [ "${{ github.event_name }}" == "pull_request" ]; then
            # Set the default values for push and pull_request events
            os='["ubuntu-latest"]'
            preprocessor_symbols=""
            cached_dependencies="true"
            cached_artifacts="true"
            verbose="false"
          fi

          # the following outputs are coming from the user by means of workflow_dispatch:
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            # Get the values from the inputs of workflow_dispatch event (the UI)
            os="${{ inputs.os }}"
            preprocessor_symbols="${{ inputs.preprocessor-symbols }}"
            cached_dependencies="${{ inputs.cached-dependencies }}"
            cached_artifacts="${{ inputs.cached-artifacts }}"
            verbose="${{ inputs.verbose }}"
          fi

          {
            echo "build-projects       ${build_projects}"
            echo "test-projects        ${test_projects}"
            echo "benchmark-projects   ${benchmark_projects}"
            echo "os                   ${os}"
            echo "dotnet-version       ${dotnet_version}"
            echo "configuration        ${configuration}"
            echo "preprocessor-symbols ${preprocessor_symbols}"
            echo "min-coverage-pct     ${min_coverage_pct}"
            echo "max-regression-pct   ${max_regression_pct}"
            echo "force-new-baseline   ${force_new_baseline}"
            echo "cached-dependencies  ${cached_dependencies}"
            echo "cached-artifacts     ${cached_artifacts}"
            echo "verbose              ${verbose}"
          } >> $GITHUB_STEP_SUMMARY

          {
            echo "build-projects=${build_projects}"
            echo "test-projects=${test_projects}"
            echo "benchmark-projects=${benchmark_projects}"
            echo "os=${os}"
            echo "dotnet-version=${dotnet_version}"
            echo "configuration=${configuration}"
            echo "preprocessor-symbols=${preprocessor_symbols}"
            echo "min-coverage-pct=${min_coverage_pct}"
            echo "max-regression-pct=${max_regression_pct}"
            echo "force-new-baseline=${force_new_baseline}"
            echo "cached-dependencies=${cached_dependencies}"
            echo "cached-artifacts=${cached_artifacts}"
            echo "verbose=${verbose}"
          }  >> "${GITHUB_OUTPUT}"

      - name: Call the CI Workflow
        uses: ./.github/workflows/_ci.yaml
        with:
          build-projects: ${{ steps.init-params.outputs.build-projects }}
          test-projects: ${{ steps.init-params.outputs.test-projects }}
          benchmark-projects: ${{ steps.init-params.outputs.benchmark-projects }}
          os: ${{ steps.init-params.outputs.os }}
          dotnet-version: ${{ steps.init-params.outputs.dotnet-version }}
          configuration: ${{ steps.init-params.outputs.configuration }}
          preprocessor-symbols: ${{ steps.init-params.outputs.preprocessor-symbols }}
          min-coverage-pct: ${{ steps.init-params.outputs.min-coverage-pct }}
          max-regression-pct: ${{ steps.init-params.outputs.max-regression-pct }}
          force-new-baseline: ${{ steps.init-params.outputs.force-new-baseline }}
          cached-dependencies: ${{ steps.init-params.outputs.cached-dependencies }}
          cached-artifacts: ${{ steps.init-params.outputs.cached-artifacts }}
          verbose: ${{ steps.init-params.outputs.verbose }}
      # TO BE REMOVED WHEN ACTUALLY RUNNING THE BUILD WORKFLOW ABOVE:
      # - name: Print \#0: CI Workflow Call
      #   shell: bash
      #   run: |+
      #     {
      #       echo "uses ./.github/workflows/_ci.yaml"
      #       echo "with"
      #       echo "  build-projects:       ${{ steps.init-params.outputs.build-projects       }}"
      #       echo "  test-projects:        ${{ steps.init-params.outputs.test-projects        }}"
      #       echo "  benchmark-projects:   ${{ steps.init-params.outputs.benchmark-projects   }}"
      #       echo "  os:                   ${{ steps.init-params.outputs.os                   }}"
      #       echo "  dotnet-version:       ${{ steps.init-params.outputs.dotnet-version       }}"
      #       echo "  configuration:        ${{ steps.init-params.outputs.configuration        }}"
      #       echo "  preprocessor-symbols: ${{ steps.init-params.outputs.preprocessor-symbols }}"
      #       echo "  min-coverage-pct:     ${{ steps.init-params.outputs.min-coverage-pct     }}"
      #       echo "  max-regression-pct:   ${{ steps.init-params.outputs.max-regression-pct   }}"
      #       echo "  force-new-baseline:   ${{ steps.init-params.outputs.force-new-baseline   }}"
      #       echo "  cached-dependencies:  ${{ steps.init-params.outputs.cached-dependencies  }}"
      #       echo "  cached-artifacts:     ${{ steps.init-params.outputs.cached-artifacts     }}"
      #       echo "  verbose:              ${{ steps.init-params.outputs.verbose              }}"
      #     } >> $GITHUB_STEP_SUMMARY
#
